div .materials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li .materialItems {
  display: block;
  justify-content: center;
  align-items: center;
}
